.container{
    height: 100px;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: space-between;
    color: gray;
}

.icons{
    display: flex;
    gap: 20px;
    font-size: 24px;
    color: var(--text);
    opacity: 0.7;
    margin-top: 20px;
}

.line {
    border-top: 2px solid var(--complement1);
    margin-top: 40px; 
    margin-bottom: 20px; 
    width: 100%;
}